*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
html{
    font-size: 62.5%;
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em ;
}
h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}
/* #########utility classes */
.container{
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
 font-size: 2.2rem;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-grey{
    color: #555;
}
.bg-dark{
    background-color: #263238;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: white;
    color: red;
    border-radius: 1000px;
}
.btn-secondary{
    /* background-color: red; */
    color: red;
    border: 0.2rem solid red;
    border-radius: 1000px;
}
.btn-primary:hover{
    background: linear-gradient(rgba(131, 132, 132, 0.33),rgba(204, 14, 238, 0.882));
    /* background-color: rgb(249, 244, 0); */
}
.btn-secondary:hover{
    background: linear-gradient(rgba(131, 132, 132, 0.96),rgba(14, 212, 238, 0.882));
    /* background-color: rgb(249, 244, 0); */
}
.underline::after{
    content: '';
    display: block;
    border: 2px solid #e63946;
   width: 100%;
}
.bg-light{
    background-color: #f4f4f4;
}

/* #########header styling */
.header{
    height: 95vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/header-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.header .logo, .header .navbar a{
    color: aliceblue;
}
/* .navbar{
    border: 0.2rem solid white;
    padding: 1rem;
} */
.navbar .logo{
    float: left;
    /* font-size: 3.5rem; */
}
.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}
 .navbar .nav-items .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;

}
.navbar a:link, .navbar a:visited{
    color: #f4f4f4;
}
.navbar a:hover{
    border-bottom:0.2em solid white;
    padding-bottom: 0.5em;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
/* ############header-content-style */
.header-content{
     text-align: center;
     /*max-width: 700px;
    width: 90%; 
    margin: 27rem auto; */
    /* border: 2px solid white; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    
}
.header-content p{
    text-transform: uppercase;

}

/* ############# SHOWCASE SECTION STYLING */
.showcase{
    background: #ddd;
    padding: 7rem;
}

.row{
    height: 250px;
    background-color: #fff;
    box-shadow: 10px 10px 20px 5px #aaa;
}
.row1{
    margin-bottom: 7rem;
}


.row1 .img-box,.row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box,.row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{

height: 100%;

}
.row .text-box{

padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}
/* ###############feature section styling */
.features{
    padding: 5rem 0;
    /* border: 2px solid black; */
    /* position: relative; */
}
.box-wrapper{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.37);
}
.box-wrapper .box{
    float: left;
    width: 33.3%;
    text-align: center ;
    padding: 2rem;
    /* border: 0.2rem solid rgb(8, 243, 51); */
    
}
.box-1,.box-3{
    background-color: #263238;
    color: white;

}
.box-2{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    color: white;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
/* ###################footer styling */
.footer{
    text-align: center;
    /* border:2px solid red ; */
    
    padding: 2rem;
    background-color: #263238;
    /* margin-bottom: 0px; */
}
.footer .social-media-links .fab{
    padding: 0 1rem;
}
.footer .social-media-links a:hover{
    font-size: 2.5rem;
}
/* ########################  about page styling */
.about{
    padding: 5rem 0;
}
/* ############# about wrapper */
.about-wrapper{
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 2rem;
}
.about-wrapper .left{
float: left;
width: 50%;
}
.about-wrapper .right{
    float: right;
    width: 50%;
}
.about-wrapper  ul li::before{
 content: '\2713';
 color: #e63946;
 font-weight: 700;
 padding-right: 1rem;
}
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
/* ###########counts styling  */
.counts{
    margin-top: 2.5rem;
    /* border: 2px solid greenyellow; */
}
.counts .count-item{
    float: left;
    width: 25%;
    text-align: center;
    /* border: 2px solid black; */
}
.counts .count-item span{
    font-size: 3.5rem;
    font-weight: 700;
    color: #e63946;
}
.counts .count-item p{
    font-weight: 700;
    font-size: 1.6rem;
    color: #555;
}
.counts::after{
    content:'';
    display: block;
    clear: both;
}
/* ###############cta banner styling */
.cta-banner{
    /* border: 2px solid black; */
    margin-top: 3rem;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    box-shadow: 2.5px 2.5px 5px #0000002d;
}
.cta-banner .cta-banner-left{
    float: left;
    /* border: 2px solid black; */
    width: 50%;
    padding-top: 2rem ;
    color: #f4f4f4;
    font-weight: 600;
    font-size: 2rem;
    padding-left:0.5rem ;
}
.cta-banner .cta-banner-right{
    float: right;
  
    width: 40%;
    text-align: right;
    margin: 1rem;
    /* font-size: 6.4rem; */
}
.cta-banner .cta-banner-right a{
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    padding: 0.3rem 4rem;
    color: #f4f4f4;
    border: 2px solid rgb(255, 255, 255);
}
/* .cta-banner .cta-banner-right a span{
    display: block;
} */
.cta-banner::after{
    content: '';
    display: block;
    clear: both;
}
/* ###########contact page styling */

.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
  
}



.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.form-wrapper .company-address{
    height: 600px;
    background: #fff;

    width: 49%;
    float: left;
    padding: 2rem 1rem 0 1rem;
    padding: 1rem;
}

.form-wrapper .company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.form-wrapper .company-address h2{
    display: inline-block;
    text-transform: uppercase;
}
.form-wrapper .address-group{
    margin-bottom: 3rem;
}
.form-wrapper .company-address img{
    max-width: 90%;
    min-height:20rem ;
    object-fit: cover;
    object-position: right;
}

/* ###################form styling */



.form-wrapper .form{
    height: 600px;
    background: #fff;
 
    width: 49%;
    float: right;
   font-size: 1.6rem;
   padding: 1rem;
}
.form h1::after{
    content: '';
    display: block;
    border: 2px solid #ee4758;
    width: 100%;
}
.form-wrapper .form label{
    display: block;
}
.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}
.form-wrapper .form  .form-group{
    margin-bottom: 1.2rem;
}
.form-wrapper .form span{
    color: #e63946;
}
.form-wrapper .form textarea{
    width: 100%;
    height: 200px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
/* ###########media queries */
@media (max-width:500px){
    html{
        font-size: 50%;
    }
    .navbar .nav-items,.navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-content .main-heading{
        display: none;
    }
     .showcase .row{
        height: auto;
        width: 100%;

    }
    .showcase .row .img-box,.showcase .row .text-box{
        float: none;
        /* display: block; */
        width: 100%;
        text-align: center;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.37) ;
    }
    .features .box-2, .features .box-3{
    margin-top: 7rem;
    }
    .box-wrapper{
       box-shadow: none;
    }
    .cta-banner .cta-banner-left,.cta-banner .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem; ;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto; 
    }
}

@media(min-width:501px)and (max-width:768px){
    html{
        font-size: 8px;
    }
    p{
        font-size:1.8rem;
    }
   
    .navbar .nav-items,.navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    /* .header-content .main-heading{
        display: none;
    } */
     .showcase .row{
        height: auto;
        width: 100%;

    }
    .showcase .row .img-box,.showcase .row .text-box{
        float: none;
        /* display: block; */
        width: 100%;
        text-align: center;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.37) ;
    }
    .features .box-2, .features .box-3{
    margin-top: 7rem;
    }
    .box-wrapper{
       box-shadow: none;
    }
    .cta-banner .cta-banner-left,.cta-banner .cta-banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem; ;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto; 
    }
}
@media(min-width: 769px)and (max-width: 1200px){
    html{
        font-size: 56.25%;
    }
}
@media(orientation:landscape)and(max-height: 500px){
    .header{
        height: 90vmax;
    }
}